extends layout

block content
  h1= title
    
  .container
   
    h2  Bookings
        
    .row
      each booking in booking1
        .card.col-sm-12
          img.card-img-top.mx-auto(src=booking.packageId.imgpath style=" max-width:400px;")              
          h4 
            | #{booking.packageId.packname}
          h5 
            | #{booking.packageId.packdetail}
          h5
            | Packages purchased: #{booking.TravellerCount}
          h5
            | Unit Price $: #{booking.packageId.price}
          h5
            | Total Price $: #{booking.packageId.price * booking.TravellerCount}
          p.card-text
            form(action='/return/'+booking._id method='get')
              
              input.btn.btn-primary(type='submit' value='Cancel Reservation.') 
            <br>
            form(action='/')
              input.btn.btn-primary(type='submit' value='Confirm Reservation')
              
                  
                    
              

      