extends layout

block content
  h1= title
    
  .container
   
    h2.bg-info You Bookings
      if !booking
        h3 You don't have any bookings.
      else 
        .row
          each booking in booking1
            .card.col-sm-12
              img.card-img-top.mx-auto(src=booking.packageId.imgpath style=" max-width:400px;")              
              h5 #{booking.packageId.packname}
              h5 #{booking.packageId.packdetail}
              h6
                | TravellerCount : #{booking.TravellerCount}
              h6
                | Unit Price: #{booking.packageId.price}
              h6
                | Total Price: #{booking.packageId.price * booking.TravellerCount}
              p.card-text
                form(action='/return/'+booking._id method='get')
                  .input_wrapper
                  input.btn.btn-primary(type='submit' value='Cancel Reservation') 
                  
                    
                    
              

      