extends layout

block content
  
  .container
    <br>
    <br>
    h2.bg-light Check our best deal!!
    <br>
    .card-group
      each pack in mypackages
        .card.col-sm-12
            img.card-img-top.mx-auto(src=pack.imgpath3 style=" max-width:400px;")
            img.card-img-top.mx-auto(src=pack.imgpath2 style=" max-width:400px;")
            img.card-img-top.mx-auto(src=pack.imgpath1 style=" max-width:400px;")
            .card-body
              h4.card-title #{pack.packname}
              h4.card-title #{pack.packdetail}
              h4.card-text
                | Package start date: #{pack.TripStart}
              h4.card-text
                | Package end date: #{pack.TripEnd}
            
            form(action="/book" method="POST")
              .input_wrapper
                label(for="TravellerCount") 
                input(type="number" name="TravellerCount" required min=1)
                input(type='hidden' name="packageId" value= pack && pack._id) 
                
                input.btn.btn-primary.btn-lg(type='submit'  value='Book Package')

          
   
     
        
  