extends layout

block content
  <br>
  <br>
  h3 #{greet_msg}
  h3 We offer you the best travel packages at the lowest cost
  h3 You have logged in on #{date_time}

  .container
    <br>
    <br>
    h2.bg-light Check our best deals!!
    <br>
      .card-group
        each pack in mypackages
          .package_wrapper    
            img.card-img-top(src=pack.imgpath alt='...')
            .card-body
              h5.card-title #{pack.packname}
              h5.card-title #{pack.packdetail}
              //- p.card-text
              //-   | Size: #{prod.size}
              //-   | Price: #{prod.price}
              if !isdetails
                a.btn.btn-primary(href='/details/'+ pack.packid) Details                
      if isdetails
      a.btn.btn-primary(href='/details/'+ pack.packid)Booking
      //a.btn.btn-primary(href='/details/'+ pack.packid)Login 

      a(href='/') Back
    
  