extends layout

block content
  <br>
  <br>
  h3 #{greet_msg}
  // h3 #{currentUser.username}
  h3 #{date_time}

  .container
    <br>
    <br>
    h2.bg-light Check our best deals!!
    <br>
      .card-group
        each pack in mypackages
         .package_wrapper    
            a(href='/details/det/'+ pack.packid)
              img.card-img-top(src=pack.imgpath alt='...')
            a(href='/details/det/'+ pack.packid)
              h3.card-title #{pack.packname}
              h3.card-title #{pack.packdetail}
              //- p.card-text
              //-   | Size: #{prod.size}
              //-   | Price: #{prod.price}
              
              //- if !isdetails
              //-   a.btn.btn-primary(href='/details/det/'+ pack.packid) Discover  
      
      a.btn.btn-primary Book
        
     
        
  