extends layout

block content
  <br>
  <br>
  h3 #{greet_msg}
  
  h3 #{date_time}

  .container
    <br>
    <br>
    h2.bg-light Check our best deals!!
    <br>
      .card-group
        each pack in mypackages
         .package_wrapper    
            a(href='/details/det/'+ pack.packid)
              img.card-img-top(src=pack.imgpath alt='...')
            a(href='/details/det/'+ pack.packid)
              h4.card-title #{pack.packname}
              h4.card-title #{pack.packdetail}
              
      
        
     
        
  