extends layout

block content
 
  
  .container
    <br>
    <br>
    h2.bg-light Check our best deals!!
    <br>
      .card-group
        each pack in mypackages
          .package_wrapper    
            img.card-img-top(src=pack.imgpath alt='...')
            .card-body
              h5.card-title #{pack.packname}
              h5.card-title #{pack.packdetail}
              //- p.card-text
              //-   | Size: #{prod.size}
              //-   | Price: #{prod.price}
              if !isdetails
                a.btn.btn-primary(href='/packages/details/'+ pack.packid)  Details
      if isdetails
        a(href='/packages') Back
    
  
 
  
  
  //- .container
    
  //-   h2.bg-light Packages
      
  //-     .card-group
  //-       each pack in mypackages
  //-         .package_wrapper         
  //-           img.card-img-top(src=pack.imgpath alt='...') 
  //-           .card-body
  //-             h5.card-title #{pack.packname}
  //-             h5.card-title  #{pack.packdetail}
  //-               | Size: #{prod.size}
  //-               | Price: #{prod.price}
  //-             if !isdetails
  //-               a.btn.btn-secondary(href='/packages/details/'+ pack.packid)  Details
  //-       if isdetails
  //-       a(href='/packages') Back
    